*{
    margin:0;
    padding: 0;
    outline:none;
    font-weight: 600;
    text-decoration: none;
}

html{height: 100%;}

body{
    width:100%;
    height:100%;
    color:#333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: Helvetica, Verdana, sans-serif;
    line-height: 135%;
}
